<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
	
	<!-- Optional theme -->
	<link rel="stylesheet" type="text/css" media="all" href="../css/bootstrap-theme.min.css" th:href="@{../css/bootstrap-theme.min.css}" />
	
	<!-- Latest compiled and minified JavaScript -->
</head>
<body>
<p>Hello Spring Boot!</p>
<p th:text="${uuid}">UUID</p>
<script src="../js/bootstrap.min.js" th:src="@{../js/bootstrap.min.js}"/>
</body>
</html>